body{
    margin: 0;
    padding: 0;
}

.heading{
    text-align: center;
    font-family: cursive;
    font-size: 50px;
}


.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;    

}

.image{
width: 500px;
height: 500px;
margin: 10px;
align-self: center;
justify-self: center;
}
    hr{
        border: 1px solid purple;
        margin: 0 200px 20px 200px;
    }















